[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/gtest-parallel"]
	path = submodules/gtest-parallel
	url = https://github.com/google/gtest-parallel.git
